[Unit]
Description=start obagent
After=network.target syslog.target rc-local.target
[Service]
Type=forking
ExecStart=${obagent.home.path}/bin/ob_agentctl start
ExecStop=${obagent.home.path}/bin/ob_agentctl stop
ExecReload=${obagent.home.path}/bin/ob_agentctl restart
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target